@font-face{font-family:'icomoon';src:url("fonts/icomoon.eot?3xs876");src:url("fonts/icomoon.eot?3xs876#iefix") format("embedded-opentype"),url("/fonts/icomoon.ttf?3xs876") format("truetype"),url("/fonts/icomoon.woff?3xs876") format("woff"),url("/fonts/icomoon.svg?3xs876#icomoon") format("svg");font-weight:normal;font-style:normal}
